body {
	-webkit-font-smoothing: antialiased;
	cursor: crosshair;
	background: url(../backgroundmain.jpg) no-repeat;
	background-color: #000000;
	margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
